---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---
{% include base_path %}
Quantum Field Theory is one of our best frameworks to understand the world. One of the great things about working on Quantum Field Theory is that it allows us to sample a variety of different interesting topics in physics, ranging from elementary particles to gravity to condensed matter, and even to pure mathematics. 

Below listed are the themes of research I have done so far. I hope to deepen and broaden the list even more in the future!

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %}
