---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<script src="https://polyfill.io"></script>
<script id="MathJax-script" async src="https://jsdelivr.net"></script>
<script>
  window.MathJax = {
    tex: { inlineMath: [['$', '$']] }
  };
</script>
<p style="text-align: justify;">Over the years, I have designed and taught classes on advanced topics in Quantum Field Theory 
  (unofficially) to my classmates and colleagues. 
  Some of these lectures are recorded (thanks to Dima and Nur for the initiative!) and have been put on YouTube. 
Listed below are those lectures with corresponding lecture notes.
</p>

<h2>Lectures on bosonization.</h2> 
<div style="overflow: hidden;">
  <iframe width="267" height="200"
    src="https://www.youtube.com/embed/videoseries?list=PLg3amjhDg2vgc9haNjCIWv363k_KcZtFs"
    style="float: right; margin: 0 0 10px 15px; border: none;"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
  <p style="text-align: justify;">
    In $1+1$ dimensions, fermions and bosons have little distinction. It turns out that one can write a theory of fermions 
    entirely in terms of a theory of bosons. The particles in one theory is mapped to solitions in the other theory. This is the 
    story of bosonization. These four lectures attempt to elucidate this concept. Taught at UVA during the summer of 2025.
  </p>
</div>

<h2>Lectures on phase transitions and the Renormalization Group.</h2>  
<!-- <iframe width="300" height="169"
  src="https://www.youtube.com/embed/videoseries?list=PL4InggibDMVtPo49KLFW68_gDHEzMPa2J"
  frameborder="0"
  allowfullscreen>
</iframe> -->
<div style="overflow: hidden;">
  <iframe width="267" height="200"
    src="https://www.youtube.com/embed/videoseries?list=PL4InggibDMVtPo49KLFW68_gDHEzMPa2J"
    style="float: right; margin: 0 0 10px 15px; border: none;"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
  <p style="text-align: justify;">
    This is an unofficial course taught at UVA during the spring of 2026. These are lectures on critical phenomena and phase transitions using the renormalization group methods. 
  </p>
</div>
<h2>Lectures on Perturbative Renormalization in Scalar Field Theory.</h2>
<div style="overflow: hidden;">
  <iframe width="267" height="200"
    src="https://www.youtube.com/embed/videoseries?list=PLg3amjhDg2viLp2EYb4WaaAjhyQFkAws_"
    style="float: right; margin: 0 0 10px 15px; border: none;"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
  <p style="text-align: justify;">
    This is an unofficial class taught at UVA during fall of 2022. These lectures attempts to explain the techniques of perturbative renormalization in the simplest context of a 
    scalar field theory. Starting from path integrals and LSZ formula, we go through the $\phi^4$ theory and discuss the mass and coupling 
    constant renormalization. The first lecture is by my friend Gabriel Sousa. 
  </p>
</div>

<h2>Teaching Assistant at UVA</h2>
At UVA, I have been a TA for the following classes, 
<ul>
  <li><b>2026 Summer : Principles of Physics II</b></li>
  Undergraduate course teaching the fundamentals of physics for pre-health students. 
  <li><b>2025 Fall : Theoretical Mechanics</b></li>
  Graduate course on classical mechanics.
  <li><b>2024 Spring : Intermediate Laboratory</b></li>
  Undergraduate physics laboratory with experiments on mechanics, thermodynamics, electromagnetism and modern physics.
  <li><b>2022 Spring : Introductory Physics Workshop I</b></li>
  Undergraduate lab on mechanics and thermodynamics for engineering and pre-health students.
  <li><b>2021 Fall: Introductory Physics Workshop II I</b></li>
  Undergraduate lab on electromagnetism for engineering and pre-health students.
</ul>



<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
