---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>The best way to understand something is to teach it. Over the years, I have designed and taught classes on advanced topics in Quantum Field Theory (unofficially) to my classmates and colleagues. Some of these lectures are recorded (thanks to Dima and Nur for the initiative!) and have been put on YouTube. 
Listed below are those lectures with corresponding lecture notes.
</p>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
